**/node_modules
**/out
dist

.vscode-test/
**.DS_Store
binaries/*

registration_key
auth
sig


.idea/
*.iml

**/assistant-cache
**/assistant-binaries

.env
advpl_sources/.vscode/.advpl/_binary_class.prw
advpl_sources/.vscode/.advpl/_binary_functions.prw
*.log
