.gitignore
.vscode-test/**
.vscode/**
.yarnrc
**/.eslintrc.json
**/*.map
**/*.pdf
**/*.ts
**/*.tsx
**/tsconfig.json
advpl_sources/
diversos/
docs/
project-words.txt
reports/
src/**
.eslint*
LOCALIZATION*.*
TODO.md