[name="serverType"] {
	width: 20rem;
}

section.tds-chat {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 90vh;
}

section.tds-chat section.tds-header {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 1;
	order: 0;
	/* align-items: flex-end; */
}

section.tds-chat section.tds-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	order: 0;
}

section.tds-chat section.tds-footer {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	/* width: 100%; */
}

section.tds-chat div.tds-message-row {
	display: flex;
	flex-direction: column;
	margin: 0;
}

section.tds-chat div.tds-message-row+div.tds-message-row {
	margin-top: 0.5em;
}

section.tds-chat div.tds-message-row+div.tds-message-row {
	margin-bottom: 0.5em;
	/* border-bottom: dotted;
	border-bottom-width: thin; */
}

section.tds-chat div.tds-message-row div.tds-message-author {
	display: flex;
}

section.tds-chat div.tds-message-row div.tds-message-author vscode-progress-ring {
	height: 1.2rem;
}

section.tds-chat div.tds-message-row div.tds-message-author #author {
	font-weight: bold;
	flex-grow: 1;
}

section.tds-chat div.tds-message-row div.tds-message-author #timeStamp {
	font-style: italic;
}

div.tds-message {
	margin: 0;
}

div.tds-message+div.tds-message {
	margin-top: 0.5em;
}

div.tds-message p {
	margin-block-start: 0;
	margin-block-end: 0;
	line-height: calc(var(--tds-line-height) * 130%);
}

div.tds-message p+p {
	margin-block-start: var(--tds-ver-spacing);
	margin-block-end: 0;
}